@charset "UTF-8";

/* 
    Cores:
        #4C46C7
        #555194
        #3025FA
        #4A4961
        #2C2B33
*/

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    background-color: #4A4961;
    width: 100vw;
    height: 100vh;
}

body {
    width: 90vw;
    margin: auto;
    background-color: #555194;
}

header > h1 {
    padding-top: 15px;
}

menu > ul {
    list-style-tipe: none;
}

menu > ul > li {
    display: inline-block;
}

main {
    height: 450px;
}