@charset "UTF-8";

/* 
    Cores:
        #4C46C7
        #555194
        #3025FA
        #4A4961
        #2C2B33
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: #4A4961;
    box-shadow: inset 0 0 30px rgb(0, 0, 0);
}

body {
    position: relative;
    background-color: #555194;
    height: 100%;
    max-width: 500px;
    margin: 0 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .45);
}

body > #content {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

body > #content > header {
    position: relative;
    width: 100%;
    height: 25%;
}

body > #content > header > #titulo {
    position: absolute;
    height: 50%;
    width: 106%;
    left: -3%;

    box-shadow: 0 0 5px rgba(0, 0, 0, .45);
    background-color: #4C46C7;
}

body > #content > header > #titulo > h1 {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    color: white;
    text-shadow: 2px 2px 2px black;
}

body > #content > header > menu {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
body > #content > header > menu > ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
}
body > #content > header > menu > ul > li {
    display: inline-block;
}
body > #content > header > menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 15% 5px;
    border: 2px solid transparent
}
body > #content > header > menu > ul > li > a:hover {
    background-color: #4c46c77e;
    border: 2px solid black;
    cursor: pointer;
}

body > #content > main {
    height: 75%;
    width: 100%;
}
body > #content > main > #view {
    width: 100%;
    height: 100%;
}
iframe {
    display: block;
    height: 100%;
    width: 100%;
}